.example-spacer {
  flex: 1 1 auto;
}

.table-body {
  padding: 20px;
  display: flex;

  mat-form-field {
    display: flex;

  }

  .ful-data {
    max-width: 1264x;
  }

  .actionrow {
    display: flex;


  }

}







table {
  width: 80%;
}